@use "../utilities/" as *;
@use "../base/" as *;

.form {
  max-width: 1100px;
  display: block;
  margin: 0 auto;

  &__question {
    background-color: $color-grey;
    margin: 50px auto;
    display: block;
    padding-bottom: 28px;

    @include for-widescreen {
      width: 100%;
    }

    @include for-phone {
      margin: 30px auto;
    }
  }

  label {
    cursor: pointer;
  }

  p {
    font-family: $family-primary;
    font-size: 50px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 1.5px;
    color: white;
    text-align: left;
    margin-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;

    @include for-tablet {
      font-size: 25px;
      line-height: 100px;
      letter-spacing: 0.75px;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    @include for-phone {
      font-size: 25px;
      line-height: 35px;
      letter-spacing: 0.75px;
      padding-top: 10px;
      padding-bottom: 0px;
    }
  }

  &__answers {
    background-color: $color-grey-light;
    width: 95%;
    display: block;
    margin: 0 auto;
    font-family: $family-secondary;
    padding: 50px;

    @include for-tablet {
      padding: 35px;
    }
    @include for-phone {
      padding: 15px;
    }

    p {
      font-family: $family-secondary;
      font-size: 30px;
      line-height: 1.5;
      color: black;
      margin-bottom: 20px;

      @include for-tablet {
        font-size: 25px;
        line-height: 45px;
      }

      @include for-phone {
        font-size: 18px;
        margin-bottom: 0px;
      }
    }

    span {
      font-size: 48px;
      color: black;

      @include for-tablet {
        font-size: 25px;
      }

      @include for-phone {
        font-size: 18px;
      }
    }
  }

  input[type="text"],
  input[type="email"] {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 20px;

    @include for-phone {
      height: 50px;
      font-size: 16px;
    }
  }

  &__radiobutton {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include for-phone {
      align-items: baseline;
    }
  }

  &__lastphoto {
    margin-top: 70px;
    margin-bottom: 70px;

    @include for-tablet {
      margin-top: 50px;
      margin-bottom: 50px;
    }
    @include for-phone {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }

  &__extraquestion {
    margin-bottom: 70px;

    @include for-tablet {
      margin-bottom: 50px;
    }
    @include for-phone {
      margin-bottom: 30px;
    }
    p {
      font-family: $family-primary;
      font-size: 50px;
      font-weight: bold;
      line-height: 1.4;
      color: $color-black;
      text-align: center;
      letter-spacing: 10px;

      @include for-tablet {
        font-size: 25px;
        line-height: 35px;
        letter-spacing: 5px;
      }
      @include for-phone {
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 4px;
      }
    }

    span {
      letter-spacing: 9px;
      text-transform: uppercase;
    }
  }

  &__question2 {
    background-color: $color-blue;
    margin: 50px auto;
    display: block;
    padding: 24px;

    @include for-widescreen {
      width: 100%;
    }

    @include for-tablet {
      padding: 16px;
    }
    @include for-phone {
      margin: 30px auto;
      padding: 10px;
    }

    p {
      font-family: $family-secondary;
      font-size: 50px;
      line-height: 2;
      letter-spacing: 1.5px;
      text-align: left;
      color: $color-grey-light;

      @include for-tablet {
        font-size: 30px;
        line-height: 50px;
        letter-spacing: 0.9px;
      }
      @include for-phone {
        font-size: 18px;
        letter-spacing: 0.54px;
        padding-top: 0px;
      }
    }

    textarea {
      padding: 10px;
      font-size: 20px;
      width: 100%;

      @include for-phone {
        padding: 7px;
        height: 250px;
        font-size: 16px;
      }
    }
  }

  &__gdpr {
    a {
      color: $color-blue;
    }
  }

  input[type="submit"] {
    width: 175px;
    height: 50px;
    background-color: $color-blue;
    font-family: $family-secondary;
    font-size: 20px;
    line-height: 18px;
    color: white;
    font-weight: bold;
    border: solid 1px $color-blue;
    cursor: pointer;
    text-align: center;

    @include for-phone {
      margin-top: 70px;
      width: 128px;
      margin-top: 30px;
    }

    &:hover {
      background-color: white;
      color: $color-blue;
    }
  }
}

/* The container */
.containerr {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 90px;
  margin-top: 90px;
  cursor: pointer;
  font-size: 30px;
  font-family: $family-secondary;
  line-height: 1.5;
  color: $color-grey;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  @include for-tablet {
    font-size: 20px;
    line-height: 30px;
  }

  @include for-phone {
    font-size: 15px;
    line-height: 20px;
    text-align: left;
    padding-left: 65px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  p {
    font-size: 30px;
    font-family: $family-secondary;
    line-height: 1.5;
    color: $color-grey;
    font-weight: bold;
    text-align: center;

    @include for-tablet {
      font-size: 20px;
      line-height: 30px;
    }

    @include for-phone {
      font-size: 15px;
      line-height: 20px;
      text-align: center;
      padding-left: 0px;
      margin-left: 0px;
    }
  }
}

// CUSTOM CHECKBOX
/* Hide the browser's default checkbox */
.containerr input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 8px;
  left: 0;
  height: 30px;
  width: 30px;
  border: solid 1px $color-blue;
  background-color: white;
}

/* On mouse-over */
.containerr:hover input ~ .checkmark {
  background-color: white;
  border: solid $color-blue;
}

/* When the checkbox is checked */
.containerr input:checked ~ .checkmark {
  background-color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.containerr input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.containerr .checkmark:after {
  left: 9px;
  top: 2px;
  width: 10px;
  height: 18px;
  border: solid $color-blue;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

// CUSTOM RADIO BUTTON
// input[type="radio"] {
//   width: 30px;
//   height: 30px;
//   margin-right: 10px;

//   @include for-phone {
//     width: 12.8px;
//     height: 12.8px;
//   }
// }

input[type="radio"] {
  cursor: pointer;
}
