@use "../utilities/" as *;
@use "../base/" as *;

.header {
  max-width: 1500px;
  display: block;
  margin: 0 auto;
  @include for-widescreen {
    max-width: 1100px;
  }

  &__blue-rectangle {
    height: 98px;
    max-width: 1500px;
    background-color: $color-blue;
    margin: 0 auto;
    margin-bottom: 26px;

    @include for-tablet {
      width: 488px;
      height: 47px;
    }

    @include for-phone {
      width: 286px;
      height: 23px;
    }
  }

  &__text-box {
    text-transform: uppercase;

    h2 {
      font-family: $family-primary;
      font-size: 50px;
      font-weight: bold;
      line-height: 100px;
      letter-spacing: 1.5px;
      color: $color-black;

      @include for-tablet {
        font-size: 35px;
        letter-spacing: 1.05px;
      }

      @include for-phone {
        font-size: 25px;
        letter-spacing: 0.75px;
        margin-top: -40px;
      }
    }

    hr {
      background-color: $color-blue;
      height: 4px;
      width: 812px;
      margin: -25px auto 75px auto;

      @include for-tablet {
        width: 404px;
        height: 2px;
        margin: -25px auto 24px auto;
      }

      @include for-phone {
        width: 286px;
        height: 1px;
        margin: -35px auto 35px auto;
      }
    }

    h1 {
      font-family: $family-primary;
      font-size: 150px;
      font-weight: 500;
      color: black;

      @include for-widescreen {
        font-size: 110px;
      }

      @include for-tablet {
        font-size: 50px;
      }

      @include for-phone {
        font-size: 28px;
        margin-top: -15px;
      }
    }

    h3 {
      font-family: $family-secondary;
      font-size: 100px;
      font-weight: bold;
      line-height: 100px;
      letter-spacing: 3px;
      color: white;

      @include for-tablet {
        font-size: 40px;
        line-height: 50px;
        letter-spacing: 1.2px;
      }

      @include for-phone {
        font-size: 35px;
        line-height: 40px;
        letter-spacing: 1.05px;
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    h4 {
      font-family: $family-primary;
      font-size: 100px;
      font-weight: 500;
      color: black;
      margin-bottom: -35px;

      @include for-tablet {
        font-size: 50px;
      }

      @include for-phone {
        font-size: 40px;
      }
    }
  }
}
